
.grid-container {
    display: grid;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    /* border: 1px solid blue; */
    height: 500px;
    width: 500px;
    margin: 50px auto 0px auto;
    border: 8px solid black;

} 


.cell {
    /* border: 1px solid green; */
}

.button-container {
    display: flex;
    height: 100px;
}

.reset-button {
    margin: 10px auto 10px auto;
    height: 40px;
    width: 200px;
    
}

/* This code can be used to create a grid if the cells are divided into rows     */
/* .cell {
    display: inline-block;
    width: 6.25%;
    height: 1em;
    border: 1px solid red;
    box-sizing: border-box;
}

.row {
    border: 1px solid green;
    height: 1em;
    line-height: 1em;
} */
